<br /> 
<hr /> 
<h1>New Owner</h1>

<%= render 'form' %>

<!-- <button type="button" class="btn btn-default btn-sm"> -->
<div class="col-sm-4 col-sm-offset-4">
<br />
<%= link_to 'Back', root_path, class: "back btn btn-primary btn-sm" %>
<br />
<br />
</div>

<!-- </button> -->