
<div class="row">
<div id="productArea" class="col-md-12">
  <h2>All Products</h2><hr />
    <% for i in 0..@products.length-1 do %>
        <div id="productCard" class="col-md-3">
          <h3><%= @products[i].name %></h3>
          <%=image_tag @products[i].product_image.url("thumb") %><br />
          <hr />
          <p>Price: $<%= @products[i].price %></p>
          <p>Quantity: <%= @products[i].quantity %></p>
        </div>
    <% end %>
</div>
</div>
