<h1>Editing Business Owner</h1>

<%= render 'form' %>

<%= link_to 'Show', @business_owner, class: "sh0w btn btn-default btn-sm" %> |
<%= link_to 'Back', business_owners_path, class: "back btn btn-default btn-sm" %>
