/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import 'bootstrap';
 
table.product{
	border-collapse:collapse;
	border: 2px gray solid;
}
.socialMediaIconSize{
	width: 70px;
	height: 70px;
}
.facebookIcon{
	background: asset-url('facebook.png');
	@extend .socialMediaIconSize;
}
.pinterestIcon{
	background: asset-url('pinterest.png');
	@extend .socialMediaIconSize;
}
.twitterIcon{
	background: asset-url('twitter.png');
	@extend .socialMediaIconSize;
}
.googleplusIcon{
	background: asset-url('googleplus.png');
	@extend .socialMediaIconSize;
}

.header {
	text-align: center;
	position: relative;
	max-width: 100%;
}
