// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new1 {
	color: #8E0DA2;
	text-align: center;
}

.field {
	text-align: center;
	border-color: #F20C36;
}

.actions {
	text-align: center;
	color: #F20C36;
}

.back {
	text-align: center;
}

.table {
	text-align: center;
}