<br />
<br /> 
<br />  
<hr /> 
<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category, class: "sh0w btn btn-default btn-sm" %> |
<%= link_to 'Back', categories_path, class: "back btn btn-default btn-sm" %>
