<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<%= link_to 'Edit', edit_category_path(@category), class: "ed1t btn btn-default btn-sm" %> |
<%= link_to 'Back', categories_path, class: "back btn btn-default btn-sm" %>
